<div class="container-fluid fill p-top">
    <div class="row">
        <div class="col-md-4 py-4">
            <app-user-details></app-user-details>
        </div>
    
        <div class="col-md-8">
            <div class="row">
                <div class="col-12 py-4">
                    <app-upload></app-upload>
                </div>
                <div class="col-12">
                    <app-user-gallery></app-user-gallery>
                </div>
            </div>
        </div>
    </div>
</div>

