img{
    max-width: 100%;
}

.img-info-wrapper{
    padding: 1rem 0;
}

.img-info-wrapper p:last-child{
    margin-bottom: 0;
}

.img-info-wrapper .img-wrapper{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.btn-lg{
    padding: .5rem 1rem!important;
}
form{
    display: flex;
    flex-direction: column;
  }
  
form > * {
    width: 100%;
  }

.mat-form-field{
    width: 100%;
}

button{
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  form > button {
    width: 50%;
  }
}


@media screen and (min-width:992px) {
    .img-container{
        position: fixed;
    }
}